.site {                 /* class body*/
	display: grid;
	grid-template-columns: ($size__site-sidebar) auto;
	grid-template-areas:
		"header header"
		"sidebar main"
		"footer footer";
}

.site__header, .site__sitebar, .site__main, .site__footer {
	padding: 1vh 3vw; /*vh top botton, vw left right*/
}

/*verify selector dans header.php*/
.site__header {
	grid-area: header;
	background-color: lighten($color__background-zonegrid, 5%);
	
}

.site__main {
	grid-area: main;
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
	background-color: lighten($color__background-zonegrid, 10%);
}

.site__sitebar { /* sidebar dans header */
	grid-area: sidebar;
	background-color: lighten($color__background-zonegrid, 5%);
}
.site__footer {
	grid-area: footer;
	background-color:silver;
}

/*@import "no-sidebar";*/
