/**
*
*Block menu (menu side bar) de la page d'accueil
**/

.menu-accueil-container{
    margin:10px;
}

.menu-accueil-container .menu{
    display: flex;
    position: relative;
}


.site__main .site__sidebar {
    margin:0;
    padding:0;
}

.site__main .site__sidebar ul{
    margin:0;
    padding:0;
}


.site__main .site__sidebar ul li {
    list-style: none;
}

.site__main .site__sidebar ul li a{
    display: block;
    text-decoration: none;
    color:#fff;
    padding: 20px;
}

.site__main .site__sidebar ul li a hr{
    display: none;
}

.site__main .site__sidebar ul li a span{
    display: block;
    border-top:1px solid #999;
}


