//menu adaptative pour mobile
.menu__sidebar {
    position:absolute;
    padding-top: 40px;
    width: 100vw;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: #000;
    transform: translateX(-100vw);
    transition: transform .5s;
    //sass 
    @media screen and (min-width: 700px){
        position: static;
        width:100%;
        transform: translateX(0vw);
    }
}

//menu burger
#burger{
    display: block;
    position: absolute;
    top: 50px;
    left: 20px;
    z-index: 100;
    transform: rotate(0deg);
    transition: transform .5s;
    @media screen and (min-width: 700px){
        display: none;
       
    }

}
#chk-burger {
    display: none;
}

#chk-burger:checked ~ .menu__sidebar{
    transform: translateX(0);
}

#chk-burger:checked ~ #burger {
    transform: rotate(90deg);
}

.menu__sidebar__ul{
    list-style: none;
    margin: 0;
    padding: .5rem,0;
    
}

.menu__sidebar__ul .menu-item a{ 
    // lien a
    display: block;
    padding: 10px;
    border-top: 1px solid #999;
    margin: 2px 0;
    text-decoration: none;
    border-radius: 2px;
    line-height: 1em;
    border-color: #dcdcdc;
    //background: #182029;
    color: #f7f7f7;
    transition: all .2s ease;
}


.menu__sidebar__ul .menu-item a:hover{ // lien a
    background-color: #C5C3C6;
    color: #b4784c;
}

Block menu (menu nav en haut) de la page d'accueil

.site__branding .menu__nav__bar__haut{
    overflow: hidden;
    display: block;
}

.menu__nav__bar__haut ul{
    float: right;
    list-style-type: none;
}

.menu__nav__bar__haut ul li{
    list-style: none;
    display: inline;
}

.menu__nav__bar__haut ul li a{
    text-decoration: none;
    color: #000;
    padding: 8px;
}

.menu__nav__bar__haut ul li a:hover{
    text-decoration: underline;
}
